lib/x86_64-darwin/*.*
uBee512Launcher.app/*.*
uBee512Launcher.app/Contents/*.*
uBee512Launcher.app/Contents/MacOS/*.*
uBee512Launcher.app/Contents/MacOS/uBee512Launcher
uBee512Launcher.app/Contents/PkgInfo
uBee512Launcher
uBee512Launcher.lps
.DS_Store
backup/uBee512Launcher.lpi
/lib/i386-win32/CPMSupport.o
/lib/i386-win32/CPMSupport.ppu
/lib/i386-win32/FileSupport.o
/lib/i386-win32/FileSupport.ppu
/lib/i386-win32/FormMacroExplorer.lfm
/lib/i386-win32/FormMacroExplorer.o
/lib/i386-win32/FormMacroExplorer.ppu
/lib/i386-win32/FormMain.lfm
/lib/i386-win32/FormMain.o
/lib/i386-win32/FormMain.ppu
/lib/i386-win32/FormSettings.lfm
/lib/i386-win32/FormSettings.o
/lib/i386-win32/FormSettings.ppu
/lib/i386-win32/OSSupport.o
/lib/i386-win32/OSSupport.ppu
/lib/i386-win32/StringSupport.o
/lib/i386-win32/StringSupport.ppu
/lib/i386-win32/cpmtoolsSupport.o
/lib/i386-win32/cpmtoolsSupport.ppu
/lib/i386-win32/uBee512Launcher.compiled
/lib/i386-win32/uBee512Launcher.o
/lib/i386-win32/uBee512Launcher.or
/lib/i386-win32/uBee512Launcher.res
/lib/i386-win32/uBee512Support.o
/lib/i386-win32/uBee512Support.ppu
/uBee512Launcher.exe
/*.dbg
/TestHarnesses/iPro_test.exe
/TestHarnesses/lib/x86_64-win64
